* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.350);
    font-family: 'Times New Roman', Times, serif;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 228, 196);
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    position: fixed;
    z-index: 1;
}

.logo{
    position: absolute;
    left: 50px;
    filter: drop-shadow(5px 5px 10px #535C91);
}

.nav-item {
    margin-right: 30px;
}

header .btn {
    margin-right: 130px;
}

video {
    width: 100vw;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

#home {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 35px;
}

#home img {
    height: 100vh;
    position: absolute;
    right: 90px;
}

#home-text {
    margin-left: 130px;
    font-size: xxx-large;
    color: #070F2B;
    text-shadow: 0px 0px 5px white, 0px 0px 5px white;
}

#home-text span {
    font-size: x-large;
}

#home-text h2 {
    font-size: xx-large;
}

#home-text h1{
    color: #535C91;
}

#home .btn {
    padding: 5px 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: #070F2B;
    color: white;
    border: 2px solid #070F2B;
    border-radius: 40px;
}

.nav-item a{
    text-decoration: none;
    color: #070F2B;
    font-size: x-large;
}

#nav-btn a{
    color: beige;
    background-color: #535C91;
    padding: 5px 15px;
    border: 2px solid #030a3b;
    border-radius: 35px;
}

.card-images {
    height: 150px;
}

.taxi-type-images {
    height: 200px;
}

.parts {
    background-color: #232B2B;
}

#about {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: beige;
    padding: 30px;
    margin-top: -18px;
    h1 {
        font-size: 65px;
        font-weight: bolder;
        color: #F5E8C7;
        text-shadow: 0px 0px 5px white;
        text-decoration: underline;
        margin-bottom: 10px;
    }

    #about-text{
        width: 70vw;
        margin-bottom: 25px;
        background: transparent;
    }

    div{
        width: 25vw;
        height: 65vh;
        margin: 25px;
        padding: 30px;
        background-color: black;

        h2 {
            font-size: xx-large;
            text-decoration: underline;
            margin-bottom: 15px;
        }

        img {
            padding-bottom: 10px;
            border: 1px solid black;
            border-radius: 20px;
            box-shadow: 0px 0px 10px white;
        }

        p{
            margin-top: 15px;
        }

        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 0px 0px 15px white;
    }
}